<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Zoe&apos;s worldtimebuddy Widget</string>
	<key>CFBundleIdentifier</key>
	<string>com.zep.widget.worldtimebuddywidget</string>
	<key>CFBundleName</key>
	<string>worldtimebuddy Widget</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CloseBoxInsetX</key>
	<integer>16</integer>
	<key>CloseBoxInsetY</key>
	<integer>14</integer>
	<key>MainHTML</key>
	<string>worldtimebuddywidget.html</string>
	<key>Height</key>
	<integer>425</integer>
	<key>Width</key>
	<integer>1095</integer>
	<key>AllowNetworkAccess</key>
	<true/>
</dict>
</plist>
